{% include 'nav.html' %}
{% load static%}
{% block content %}

<body>
    <div class="payment div-style" style="min-height:500px">
        <h1 style="color: #0dcaf0">Contact Us</h1><hr><hr><br>
        <p>Let's get in touch.</p><br>
                <a href="https://wa.me/+919072495440?text=Hi.. I would like to join in your PG." target="_blank"><button
                        class="w3-button w3-light-grey w3-padding-xlarge contact-btn" type="submit">
                        <i class="fa fa-whatsapp"></i> SEND MESSAGE
                    </button>
                </a>
                <a href="tel:9072495440" target="_blank"><button
                        class="w3-button w3-light-grey w3-padding-xlarge contact-btn" type="submit">
                        <i class="fa fa-phone"></i> MAKE A CALL
                    </button>
                </a>
    </div>
</body>
{% endblock %}